@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Sawarabi Mincho, Arial, Helvetica, sans-serif;
}

@layer components {
  .text-title {
    @apply font-satisfy text-primaryColor
  }

  .text-desc {
    @apply font-sawarabi text-primaryColor
  }

  .button {
    @apply text-secondaryColor bg-primaryBackgroundColor py-5 px-10 rounded-full border-[3px] border-primaryLineColor hover:text-primaryBackgroundColor hover:bg-secondaryColor hover:border-secondaryColor transition-all duration-200 ease-linear
  }
}
