@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryBackgroundColor: #F7C59F;
  --secondaryBackgroundColor: #FFCCC2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Sawarabi Mincho, Arial, Helvetica, sans-serif;
}

@layer components {
  .text-title {
    @apply font-satisfy text-primaryColor text-3xl md:text-5xl lg:text-7xl max-w-4xl
  }

  .text-desc {
    @apply font-sawarabi text-primaryColor text-sm max-w-96 leading-relaxed
  }

  .button {
    @apply select-none text-sm md:text-base text-secondaryColor bg-primaryBackgroundColor py-3 px-6 md:py-5 md:px-10 rounded-full border-[3px] border-primaryLineColor hover:text-primaryBackgroundColor hover:bg-secondaryColor hover:border-secondaryColor transition-all duration-200 ease-linear;
  }

  .button-2 {
    @apply select-none text-sm md:text-base text-thirdColor bg-secondaryBackgroundColor py-3 px-6 md:py-5 md:px-10 rounded-full border-[3px] border-primaryLineColor hover:text-secondaryBackgroundColor hover:bg-thirdColor hover:border-thirdColor transition-all duration-200 ease-linear;
  }

  .responsive-padding-l {
    @apply pl-4 md:pl-8 lg:pl-12
  }

  .responsive-padding-r {
    @apply pr-4 md:pr-8 lg:pr-12
  }

  .responsive-padding-x {
    @apply px-4 md:px-8 lg:px-12
  }
}

@layer utilities {
  .bg-shape-1 {
    background-image: url('/images/background/background-shape-1.svg');
    width: 100%;
  }

  .about-section-container {
    position: relative;
    background-color: var(--secondaryBackgroundColor);
    height: 100%;
  }

  .about-section-container::before {
    content: '';
    position: absolute;
    top: -10.8rem;
    left: 0;
    width: 100%;
    height: 11.5rem;
    background-image: url('/images/background/background-shape-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
  }

  .about-section-container::after {
    content: '';
    position: absolute;
    bottom: -10.8rem;
    left: 0;
    width: 100%;
    height: 11rem;
    background-image: url('/images/background/background-shape-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: -10;
  }

  .about-element {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5rem;
  }

  .about-element > div:last-child {
    width: 66.6666666667%;
  }

  .about-element > div:first-child {
    width: 33.3333333333%;
  }

  .image-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .image-card {
    position: relative;
    background-color: var(--primaryBackgroundColor);
    width: 100%;
    height: 11rem;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  /* Mobile Potrait (max-width: 480px) */
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .image-element {
      grid-template-columns: repeat(2, 1fr);
    }

    .about-section-container::before {
      top: -3.8rem;
      height: 4.5rem;
    }

    .about-section-container::after {
      bottom: -4.8rem;
      height: 5rem;
    }

    .about-element {
      flex-direction: column;
      gap: 1rem;
    }

    .about-element > div:first-child {
      width: auto
    }

    .about-element > div:last-child {
      width: auto;
    }

    .image-card {
      height: 12rem;
    }
  }

  /* Mobile Landscape (max-width: 480px) */
  @media only screen and (max-width: 959px) and (orientation: landscape) {
    .image-element {
      grid-template-columns: repeat(3, 1fr);
    }

    .about-section-container::before {
      top: -7rem;
      height: 7rem;
    }

    .about-section-container::after {
      bottom: -5.8rem;
      height: 6rem;
    }

    .about-element {
      flex-direction: column;
      gap: 1rem;
    }

    .about-element > div:first-child {
      width: auto
    }

    .about-element > div:last-child {
      width: auto;
    }

    .about-desc {
      max-width: fit-content;
    }

    .image-card {
      height: 12rem;
    }
  }

  /* Tablet Potrait */
  @media only screen and (min-width: 765px) and (max-width: 1024px) and (orientation: portrait)   {
    .image-element {
      grid-template-columns: repeat(3, 1fr);
    }

    .about-section-container::before {
      top: -5.5rem;
      height: 6rem;
    }

    .about-section-container::after {
      bottom: -5.8rem;
      height: 6rem;
    }

    .about-element {
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 3rem;
    }

    .about-element > div:first-child {
      width: 50%;
    }

    .about-element > div:last-child {
      width: 65%;
    }

    .image-card {
      height: 6.5rem;
    }
  }
}